.SingleItem-container {
  height: 80%;
  width: 80%;
  border: 2px solid red;
  transition: ease;
}

.SingleItem-container:hover {
  height: 85%;
  width: 85%;
  cursor: pointer;
  border: 2px solid red;
  transition: ease;
}
