.CatInterface-layout {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 2%;
  align-items: stretch;
}

.CatInterface-left {
  width: 20%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  gap: 2%;
}

.CatInterface-panel {
  position: relative;
  background-color: aqua;
}

.CatInterface-left-top {
  flex: 1;
  min-height: 0;
}

.CatInterface-left-bottom {
  flex: 1;
  min-height: 0;
}

.CatInterface-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CatInterface-right {
  width: 20%;
  display: flex;
  align-items: stretch;
}

.CatInterface-bl {
  height: 100%;
  width: 100%;
}

.CatInterface-tl {
  height: 100%;
  width: 100%;
}
