.CatInterface-panel {
  position: absolute;
  background-color: aqua;
  left: 3%;
}

.CatInterface-bl {
  bottom: 5%;
  height: 30%;
  width: 30%;
}

.CatInterface-tl {
  top: 5%;
  height: 50%;
  width: 20%;
}

.CatInterface-inventorycontainer {
  width: 15%;
  justify-content: space-evenly;
  height: 100%;
}

.CatInterface-main {
  height: 100%;
  width: 100%;
}

.CatInterface-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 85%;
  padding-left: 10%;
}

.follower {
  position: fixed;
  /* width: 50px;
  height: 50px; */
  background-color: black;
  color: white;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.CatInterface-backbutton {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: clamp(0.5rem, 1.2vw, 1rem);
}
