.CatInterface-panel {
  position: absolute;
  background-color: aqua;
  left: 3%;
}

.CatInterface-bl {
  bottom: 5%;
  height: 30%;
  width: 30%;
}

.CatInterface-tl {
  top: 5%;
  height: 50%;
  width: 20%;
}

.CatInterface-inventorycontainer {
  width: 15%;
  justify-content: space-evenly;
  height: 100%;
}

.CatInterface-main {
  height: 100%;
  width: 100%;
}

.CatInterface-cat {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 85%;
}
