.App-screen {
  background-image: url("../assets/blueback.png");
  /* background-size: contain; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-size: 480px;
}

.App-scene {
  border: 5px solid black;
}

.App-settings {
  position: absolute;
  top: -2%;
  right: 1%;
}

.App-title {
  position: relative;
  font-family: "barrio";
  color: var(--darkpurple);
  -webkit-text-stroke-width: clamp(0.1rem, 0.3cqw, 0.1rem);
  -webkit-text-stroke-color: var(--white);
  font-size: clamp(4rem, 5cqw, 4rem);
  margin-bottom: 0;
  margin-top: 0.5cqw;
}
