.InventoryBar-main {
  background-color: var(--black);
}

.InventoryBar-header {
  height: 10%;
}

.InventoryBar-title {
  font-size: clamp(0.8rem, 1.7cqw, 1.5rem);
}

.InventoryBar-slot {
  /* h-1/4 border-solid border-white border-2 u-flex justify-center items-center */
  height: 25%;
  /* border: 5px solid var(--black); */
  background-color: #f8eeff;
  /* background: radial-gradient(circle, #ffffff, #f8eeff); */
  border-radius: 3cap;
  margin-left: 8%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.InventoryBar-hasitem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.InventoryBar-selected {
  background-color: var(--white);
}

.InventoryBar-relative {
  position: relative;
}

.ActionPanel {
  position: absolute;
  right: 110%;
  border: 2px solid var(--black);
  padding: 1em;
  background-color: var(--white);
}

.ActionPanel-pos0 {
  top: 0;
}

.ActionPanel-pos1 {
  top: 25%;
}

.ActionPanel-pos2 {
  top: 50%;
}

.ActionPanel-pos3 {
  top: 75%;
}
