.CatStatus-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.CatStatus-header {
  height: 15%;
  width: 100%;
  font-size: clamp(0.8rem, 1.4vw, 1.5rem);
  line-height: 1.2;
  z-index: 0;
}

.CatStatus-bar {
  flex-grow: 1;
  width: 100%;
  font-size: clamp(0.7rem, 1.2vw, 1.1rem);
  line-height: 1.2;
  z-index: 0;
  /* border: 2px solid red; */
}

.CatStatus-underlay {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  height: 80%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  z-index: 0;
}

.CatStatus-gridline {
  height: 100%;
  border: 1px solid gray;
  position: relative;
}

.CatStatus-gridlabel {
  position: absolute;
  bottom: 0;
}
