.CatStatus-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  container-type: inline-size;
}

.CatStatus-header {
  height: 15%;
  width: 100%;
  z-index: 1;
  font-size: clamp(0.5rem, 5cqw, 2rem);
}

.CatStatus-bar {
  flex-grow: 1;
  width: 100%;
  font-size: clamp(0.7rem, 1.1cqw, 1.1rem);
  /* border: 2px solid red; */
}

.CatStatus-underlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  z-index: 0;
}

.CatStatus-gridline {
  height: 100%;
  border: 1px solid gray;
  position: relative;
}

.CatStatus-gridlabel {
  position: absolute;
  bottom: 0;
  font-size: clamp(0.6rem, 0.9cqw, 0.9rem);
}
