.StatusBar-container {
  width: 100%;
  position: relative;
  height: 35%;
}

.StatusBar-back {
  width: 100%;
  border: 1px solid black;
  height: 100%;
  background-color: lemonchiffon;
}

.StatusBar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: blue;
  border: 1px solid black;
}
