.StatusBar-container {
  width: 100%;
  position: relative;
  height: 35%;
}

.StatusBar-back {
  width: 100%;
  border: 1px solid var(--black);
  height: 100%;
  background-color: #ffffff;
}

.StatusBar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border: 1px solid var(--black);
}

.StatusBar-happy {
  background-color: #ffef64;
}

.StatusBar-sad {
  background-color: #83c1ff;
}

.StatusBar-angry {
  background-color: #d00000;
}
